sonar-tsql-plugin/src/main/resources/schemas/sqlRules.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sql-rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rule" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="key"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="internalKey"/>
              <xs:element type="xs:string" name="descriptionFormat"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="severity"/>
              <xs:element type="xs:string" name="cardinality"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="tag"/>
              <xs:element type="xs:string" name="remediationFunction"/>
              <xs:element type="xs:string" name="remediationFunctionBaseEffort"/>
              <xs:element type="xs:string" name="debtRemediationFunctionCoefficient"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

